/* Dropdown Button */

header{
  text-align: center;
 }

body {
  text-align: center;
  box-sizing: border-box;
}


#character {
  width: 20%;
}

.img-avatar {
  width: 20%;
}


  .char-container h2 {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 600;
  }


 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown-content a:hover {background-color: #ddd}


.show {display:block;} */

/* #character {
  margin-left: 10%;
  width: 17%;
}

#character2 {
  margin-left: 10%;
  width:17%;
  text-align: center;
}

#character3 {
  margin-left: 16%;
  width: 26%;
}

/* fight button style
.fight-button{
  width: 200px;
  height: 50px;
  background-color: black;
  color: red;
}

/* Player picture */
.player1-pic{
  max-width: 28%;
  max-height: 28%;
}
.player2-pic{
  max-width: 50%;
  max-height: 50%;
}
.player3-pic{
  max-width: 40%;
  max-height: 40%;
}

#player-health{
  width: 30%;
}

#enemy-health{
  width: 30%;
}
